/* CSS usado em todas as páginas */
*{
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: #f1efef;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

h1{
    font-size: 2.5rem;
}

/* Navbar */
.navbar{
    background-color: #5fcbd7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5fcbd7;
    height: 98px;
}

.brand-title{
    margin: .5rem;
}

.img-logo{
    margin-top: -35px;
    margin-bottom: -30px;
    cursor: pointer;
}

.img-logo-marista{
    margin-top: -10px;
    margin-left: 70px;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    background-color: #80808013;
}

.li-color:hover{
    color: #ffffffec;
}

.sair-li{
    color: #000000 !important;
    padding-right: 10px !important;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}

/* Responsivo Navbar */
@media (max-width: 992px) {
    .toggle-button{
        margin-top: 30px;
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links a{
        padding: .5rem 3rem;
    }

    .navbar-links.active{
        display: flex;
    }

    .sair-img{
        width: 5%;
    }
}

.dropdown-menu{
    display: none !important;
}

.dropdown-menu.show{
    display: block !important;
}

.dropdown-item{
    color: black !important;
}

/* Geral */
.left-align{
    text-align: left;
}

abbr{
    text-decoration: underline !important;
}

.black-color{
    color: black;
}

.black-color:hover{
    color: #0c0c0c9c
}

.white-color{
    color: #eee8e8ad !important;
}

.white-color:hover{
    color: #ffffffcb !important;
}

.gray-color{
    color: #6C757D !important;
}

.gray-color:hover{
    color: #6c757dda !important;
}

a, a:hover{
    text-decoration: none !important;  
}

.fa-solid{
    color: black;
}

/* Mensagens */
.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

p{
    margin-bottom: 0;
}

/* Table */
.tabela{
    background-color: #5fcbd7;
    color: #000000;
    margin-top: 1.5rem;
}

/* Content */
.body-content {
    min-height: 100%;
    margin-bottom: -200px; 
}

.body-content:after {
    content: "";
    display: block;
}

/* Footer */
footer {
    position: relative;
    bottom:0;
    left:0;
    right: 0;
    background-color: #111 !important;
}

footer section{
    display: unset;
}

footer .div-footer{
    background-color: #111 !important;
}

footer .sides{
    margin-left: 0px !important;
    padding-left: 0px !important;
}

footer .sobre{
    text-align: initial;
}

footer .titles{
    text-align: initial;
}

.rodape, .page-wrap:after {
    height: 207px;
}

