*{
  font-family: Roboto;
}

/* CSS do login */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #36BBA5;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #36BBA5,#acb0b1);
  background-attachment: fixed;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background:  #5fcbd7;
  background-attachment: fixed;
}

#img1{
  margin-bottom: 10%;
}

#img1{
  margin-bottom: 10%;
}

/* Msgs */
.msgError{
  background-color: #f5090987;
  color: black;
  font-weight: bold;
  border: 1px solid #d35353;
  width: 100%;
  margin-top: -48px;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

.msgWarning{
  background-color: #f2f37578;
  color: black;
  font-weight: bold;
  border: 1px solid #b5b331;
  width: 100%;
  margin-top: -48px;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

/* Responsivo */
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
} 