/* CSS do exiber senha */
#password{
    float: left;
}

#senha_usuario{
    float: left;
}

#confSenha_usuario{
    float: left;
}

#olho, #eye{
    float: left;
    margin: 18px -20px 0px -40px;
    cursor: pointer;
}

#olho::after, #eye{
    font-family: FontAwesome;
    font-size: 14px;
}

abbr{
    cursor: pointer !important;
}